/* :root {
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorRed: red;
    --fontSize-sm: 16px;
    --fontFamily: 'Arial, Helvetica, sans-serif';
    --fontTitle: 'Arial';
    --fontBody: 'Helvetica';
} */

/* SignIn Component */

/* h1 {
    color: var(--colorRed);
} */

/* SignUp Component */

/* Home view */

/* Account View */


@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&family=Secular+One&display=swap');

:root {
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Secular One', 'Albert Sans';

margin: 0;

--fontBody: 'Albert Sans';
--fontTitle: 'Secular One';
}

*,
html,
body {
    font-family: var(--fontBody);
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
    font-family: var(--fontTitle);
}

